<html t:type="layout" title="literal:Contact org.primera.clase"
      xmlns:t="http://tapestry.apache.org/schema/tapestry_5_3.xsd"
      xmlns:p="tapestry:parameter">

    <p>Contact org.primera.clase ...</p>

</html>
